<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="chapter12pluginchallenge" frontName="chapter12pluginchallenge">
            <module name="Chapter1_Challenge12PluginDebug" />
        </route>
    </router>
</config>
