<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="custom_customer_grid_data_source" xsi:type="string">CustomCustomerGridCollection</item>
                <item name="custom_customer_form_data_source" xsi:type="string">CustomCustomerGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomCustomerGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Chapter5\BackendCustomization\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>

    <!--<type name="Chapter5\BackendCustomization\Model\DataProvider">-->
        <!--<plugin name="AddProductDetailsToDataProvider" type="Chapter5\BackendCustomization\Plugin\AddProductDetailsToDataProvider"/>-->
    <!--</type>-->

    <!--<virtualType name="ProductSave" type="Chapter5\BackendCustomization\Block\GenericButton">-->
        <!--<arguments>-->
            <!--<argument name="targetRoute" xsi:type="string">go/to/nowhere</argument>-->
            <!--<argument name="buttonData" xsi:type="array">-->
                <!--<item name="label" xsi:type="string">Save</item>-->
                <!--<item name="class" xsi:type="string">save primary</item>-->
                <!--<item name="sortOrder" xsi:type="number">90</item>-->
                <!--<item name="dataAttribute" xsi:type="array">-->
                    <!--<item name="mage-init" xsi:type="array">-->
                        <!--<item name="button" xsi:type="array">-->
                            <!--<item name="event" xsi:type="string">save</item>-->
                        <!--</item>-->
                    <!--</item>-->
                    <!--<item name="form-rol" xsi:type="string">save</item>-->
                <!--</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->

    <virtualType name="CustomerBack" type="Chapter5\BackendCustomization\Block\GenericButton">
        <arguments>
            <argument name="targetRoute" xsi:type="string">*/*/</argument>
            <argument name="buttonData" xsi:type="array">
                <item name="label" xsi:type="string">Back</item>
                <item name="class" xsi:type="string">back</item>
                <item name="sortOrder" xsi:type="number">20</item>
            </argument>
        </arguments>
    </virtualType>
</config>