<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sample_command" xsi:type="object">Chapter1\CLI\Console\Command\SampleCommand</item>
                <item name="change_area_state" xsi:type="object">Chapter1\CLI\Console\Command\ChangeAreaState</item>
                <item name="emulate_area_state" xsi:type="object">Chapter1\CLI\Console\Command\EmulateAreaState</item>
            </argument>
        </arguments>
    </type>
</config>