<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="chapter11custom" frontName="chapter11custom">
            <module name="Chapter1_CustomConfig" />
        </route>
    </router>
</config>
