<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Chapter1\Proxies\Model\MyModel">
        <arguments>
            <argument name="myProxiedClass" xsi:type="object">Chapter1\Proxies\Model\MyProxiedClass\Proxy</argument>
        </arguments>
    </type>
</config>