<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swiftotter>
            <example>
                <shipping_method>usps</shipping_method>
                <payment_method>paypal</payment_method>
            </example>
        </swiftotter>
    </default>
</config>