<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Chapter2_UiDemonstration::Products" title="Products (Custom)"/>
            </resource>
        </resources>
    </acl>
</config>