<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="iz_custom_admin_grid" frontName="iz_custom_admin_grid">
            <module name="Iz_CustomAdminGrid"/>
        </route>
    </router>
</config>
